@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  width: 80%;
  border: .1rem solid tomato;
  background: rgb(226, 226, 226);
  margin: 0 auto;
}

#header {
  /* border: .2rem solid blue; */
  width: 100%;
  height: 8rem;
  background: rgb(148, 148, 249);
}

#nav {
  /* border: .2rem solid black; */
  width: 100%;
  height: 5rem;
  background: #ccc;
}

.content {
  /* border: .2rem solid rgba(83, 255, 146, 0.39); */
  width: 100%;
  height: calc(100vh - 13.1rem);
  display: flex;
}



#aside {
  height: 100%;
  width: 10rem;
  /* border: .2rem solid blueviolet; */
  background:rgb(203, 148, 249);
}

#sec1 {
  height: 100%;
  width: 30rem;
  /* border: .2rem solid blueviolet; */
  background:rgba(83, 255, 146, 0.39);
}

#main {
  height: 100%;
  width: calc(100% - 40rem);
  /* border: .2rem solid rgb(226, 43, 195); */
  background: rgb(255, 232, 223);

}