* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px solid tomato;
  margin: 10px auto;
  width: 80%;
  display: grid;
  height: 80vh;
  gap: 10px;
  
/*   
  

  grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main"
    "nav footer footer"
  ; */

  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  align-content: center;
  align-items: end;
  justify-items: end;

  
}
.item {
  border: 3px solid blue;
}

/* .item-1{
  grid-area: header;
  background: #af43;
}
.item-2{
  grid-area: nav;
  background: rgba(68, 168, 255, 0.2);
  
} 
.item-3{
  grid-area: main;
  background: rgba(255, 68, 68, 0.2);
} 
.item-4{
  grid-area: footer;
  background: rgba(255, 252, 68, 0.2);
} */

