@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --bg-primary: #fff;
  --bg-button: #3767eb;
  --bg-notify: #f23435;
  --bg-shop: #22749e;
  --bg-success: #ccf0d0;
  --bg-section: #f7f9fa;
  --shadow: #ddd;
  --primary-text: #888;
  --green-text: #3e783a;

  --border-r: 10px;
  --gap: 2px;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  /* border: 2px solid tomato; */
  width: 80vw;
  height: 100vh;
  box-shadow: 1rem 1rem 2rem var(--shadow);
  display: grid;
  grid-template-rows: 7rem 14rem 1fr 7rem;
}

/* header,
section,
main,
footer {
  border: 2px solid black;
} */

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header .h-esq {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 6rem;
}

header .h-esq .input {
  border: 1px solid #696969;
  display: grid;
  grid-template-columns: 1fr 5rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
}

header .h-esq .input input {
  outline: none;
}
header .h-esq .input div {
  background: #3767eb;
  display: grid;
  justify-content: center;
  align-items: center;
}
header .h-esq .input i {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 2rem;
}

/* main div {
  border: 1px solid black;
} */

header .h-dir {
  display: grid;
  grid-template-columns: 7rem 7rem auto;
  justify-content: end;
  align-items: center;
}

header .h-dir .cart,
header .h-dir .user {
  border-radius: 50%;
  border: 0.1rem solid var(--shadow);
  width: 5rem;
  height: 5rem;
  color: var(--primary-text);
  font-size: 2.7rem;
  /* text-align: center; */
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

header .h-dir .cart .notify {
  background: var(--bg-notify);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  text-align: center;
}

header .h-dir .signin {
  margin-right: 5rem;
}

section {
  background: var(--bg-section);
  border-top: 0.1rem solid var(--shadow);
  display: grid;
  align-items: center;
}

section h1 {
  font-weight: 500;
  font-size: 3rem;

  padding-left: 6rem;
}

main .list {
  border: 0.1rem solid var(--shadow);
  margin-left: 6rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 8rem;
}

main .list .button {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 2rem;
}

main .list .button button {
  height: 4.5rem;
  border-radius: 0.7rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

main .list .button button {
  text-align: center;
}

main .list .button button i {
  font-size: 3rem;
}

main .list .button button:nth-child(1) {
  border: 0.1rem solid var(--shadow);
  color: var(--primary-text);
  width: 23rem;
}
main .list .button button:nth-child(2) {
  background: var(--bg-button);
  color: #fff;
  width: 19rem;
}

main table thead td:nth-child(1) {
  width: 11rem;
}
main table thead td:nth-child(2) {
  width: 25rem;
}
main table thead td:nth-child(3) {
  width: 13rem;
}
main table thead td:nth-child(4) {
  width: 13rem;
}
main table thead td:nth-child(5) {
  width: 13rem;
}

main table td img {
  height: 10rem;
}

main table td select {
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border: 0.1rem solid var(--shadow);
  outline: none;
}

main table td button {
  height: 4rem;
  width: 4rem;
  background: none;
  border: 0.1px solid var(--shadow);
  border-radius: 0.5rem;
  color: var(--primary-text);
}

main table td button:nth-child(2) {
  width: 8rem;
}

footer {
  background: var(--bg-success);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem 6rem;
  color: var(--green-text);
}

footer i {
  font-size: 2rem;
  margin-right: 2rem;
  padding: 0 2rem;
}
