@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --bg-primary: #fff;
  --bg-button: #3767eb;
  --bg-notify: #f23435;
  --bg-shop: #f7f9fa;
  --bg-success: #ccf0d0;
  --shadow: #e3e3e3;
  --primary-text: #696969;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  border: .1rem solid rgb(247, 247, 247);
  width: 80vw;
  height: 100vh;
  box-shadow: 1rem 1rem 2rem var(--shadow);
  display: grid;
  grid-template-rows: 7rem 12rem 1fr 6rem;
}

/* header,
section,
main,
footer {
  border: 2px solid black;
} */

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header .h-esq {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-left: 4rem;
}

header .h-esq .input {
  border: 1px solid var(--shadow);
  display: grid;
  grid-template-columns: 1fr 5rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
}

header .h-esq .input input {
  outline: none;
  font-size: 1.6rem;
  color: var(--primary-text);
}
header .h-esq .input div {
  background: #3767eb;
  display: grid;
  justify-content: center;
  align-items: center;
}
header .h-esq .input i {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

header .h-dir {
  display: grid;
  grid-template-columns: 6rem 6rem 15rem;

  justify-content: right;
  justify-items: center;
  align-items: center;
  margin-right: 2rem;
  gap: 1rem;
}

header .h-dir .cart,
header .h-dir .user {
  border: 0.2rem solid var(--shadow);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2.3rem;
  color: #696969;
}

header .h-dir div .notify {
  background: red;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  top: -0.6rem;
  right: -0.6rem;
}

header .h-dir .signin {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}



section {
  background: var(--bg-shop);
  border-top: 0.1rem solid var(--shadow);
  display: grid;
  align-items: center;
}

section h1 {
  font-weight: 600;
  font-size: 3.2rem;
  margin-left: 4rem;
}

main .product-list {
  display: grid;
  grid-template-rows: 1fr 8rem;
  border: .1rem solid var(--shadow);
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 3rem;
}

main .product-list .buttom {
  display: grid;
  grid-template-columns: 20rem 20rem;
  justify-content: space-between;
  justify-items: center;
  padding: 2rem;
}

main .product-list .buttom button {
  width: 20rem; 
  height: 5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

}

main .product-list .buttom button:nth-child(1){
  background: none;
  border: .1rem solid var(--shadow)
}
main .product-list .buttom button:nth-child(2){
  background: var(--bg-button);
  border: .1rem solid var(--bg-button);
  color: #fff;
}

main .product-list .buttom button i {
  font-size: 3rem;  
}

main .product-list .list {
  padding: 1rem;
  border-bottom: .1rem solid var(--shadow);
  
}

main .product-list .list table {
  border-spacing: 0;
}

main .product-list .list table img {
  width: 10rem;
}

main .product-list .list table td {
  /* border: .1rem solid var(--shadow); */
  padding: 0;
}

main .product-list .list table td:nth-child(2) {  
  display: grid;
  padding: 2rem;
}
main .product-list .list table td:nth-child(3) {  
  width: 15rem;
}

main .product-list .list table select { 
  border: .1rem solid var(--shadow);
  width: 10rem;
  height: 4rem;
  border-radius: .5rem;
  padding: 1rem;
  outline: none;
}

main .product-list .list table td:nth-child(4) {  
  width: 22rem;
}

main .product-list .list table td:nth-child(5) button {
  height: 4rem;
  background: none;
  border: .1rem solid var(--shadow);
  border-radius: .6rem;
  color: var(--primary-text);
  font-size: 1.6rem;
}

main .product-list .list table td:nth-child(5) button:nth-child(1) {  
  width: 4rem;  
}

main .product-list .list table td:nth-child(5) button:nth-child(2) {  
  padding: 1rem;
}